.container {
    width: 100%; 
    max-width: 1200px; 
  }
:root {
    --primary: rgb(255, 157, 0);
    --light: rgb(255, 157, 0);
    --dark: #001797;
}



ul {
    list-style-type: disc; /* Sets bullet points */
    margin-left: 20px; /* Adds indentation */
}

ol {
    list-style-type: decimal; /* Sets numbering (1, 2, 3...) */
    margin-left: 20px; /* Adds indentation */
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.text-orange {
    color : #ffba0c;
}

.team-name {
    font-family: "Parkinsans", serif;
    font-size: 3vh;
    font-weight: 400;
}   

.team-pos {
    font-family: "Poppins", serif;
}

.minor-title {
    font-family: 'Ubuntu', serif;
    font-weight: 500; 
}

.content-title {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;    

}

.content-body {
    font-family: "Poppins", serif;
}

.content-bullets {
    font-family: "Parkinsans", serif;
}

.content-ps {
    font-family: 'Ubuntu', serif;
    color: rgb(1, 0, 68); 
    font-weight: 500; 
    padding-top: 2vh;

}

.minor-head{
    font-family: 'Ubuntu', serif;
    color: rgb(255, 179, 57); 
    font-weight: 300; 
    text-transform: uppercase; 
    font-size: 2vh;
}

.naac{
    font-family: 'Ubuntu', serif;
    color: rgb(230, 56, 21); 
    font-weight: 400; 
    text-transform: uppercase; 
    font-size: 2vh;
}
.major-head {
    font-family: "Oswald", serif;
    font-weight: 400; 
    text-transform: uppercase; 
}

.topic-head {
    font-family: "Oswald", serif;
    font-weight: 450; 
    text-transform: uppercase; 
    color: rgb(255, 157, 0); 
}


.body-head {
    font-family: "Raleway", serif;
    color: rgb(152, 226, 255); 
    font-weight: 400; 
    font-size: 2vh;
}

.topic {
    font-family: 'Ubuntu', serif;
    color: rgb(255, 179, 57); 
    font-weight: 400; 
    text-transform: uppercase; 
    font-size: 2vh;
}

.btn-light-orange {
    background-color: rgb(255, 157, 0); 
    color: white;

}

.btn-light-orange:hover {
    background-color: #FF7043;
    color: white;
}

.btn-light:hover {
    background-color: rgb(209, 209, 209);
}


.img-left {
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}

.ps-box {
    transition: box-shadow 0.3s ease-in-out; 
}
  
.ps-box:hover {
    box-shadow: 0 0 50px 4px rgba(255, 157, 0, 0.295); 
}
  

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.btn-social1 {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff; /* Deep blue for icons */
    background-color: #FF9D00; /* Orange background */
    border: none;
    border-radius: 50%; /* Circular shape */
    margin-right: 15px; /* Spacing between buttons */
    font-size: 20px; /* Adjust icon size */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Smooth hover effect */
}

.btn-social1:hover {
    background-color: #FF7043; /* Slightly darker orange on hover */
    transform: scale(1.1); /* Subtle zoom-in effect */
    color: #cbf0ff; /* White color for icon on hover */
}

.team-img {
    transition: transform 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease; 
}
.team-img:hover {
    transform: scale(1.01); 
    box-shadow: 0px 0px 20px rgba(23, 193, 255, 0.4);
}

.hover-scale {
    transition: transform 0.5s ease; 
}

.hover-scale:hover {
    transform: scale(1.1);  
}

/*** Button ***/

.reg-bt1 {
    background-color: orange;
    color: white; 
    border: none;
    transition: background-color 0.3s ease; 
}

.reg-bt1:hover {
    background-color: #ffcc80; 
    color: white; 
}


.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #ffffff;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}


/*** Navbar ***/
/* Navbar Logo Styling */
.logo {
    max-height: 50px; /* Limit the logo height for all views */
    width: auto; /* Maintain the aspect ratio */
    object-fit: contain; /* Prevent distortion */
}

/* Adjustments for Navbar Brand */
.navbar-brand {
    height: 70px; /* Set a fixed height for the navbar */
    display: flex;
    align-items: center; /* Center logo vertically */
}

/* Responsive Tweaks */
@media (max-width: 576px) {
    .logo {
        max-height: 40px; /* Slightly smaller for very small screens */
    }
    .navbar-brand {
        height: 60px; /* Adjust navbar height for mobile */
    }
}


.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
    .verifycredential {
        width: 90%; 
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        margin-top: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .dropdown-menu.fade-down {
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}

.title-header{
    margin-top: 4%;
}





/*** Header carousel ***/
@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }
    
    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../img/carousel-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background: rgba(15, 23, 43, .7);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}


.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}


.service-item {
    background: var(--light);
    transition: .5s;
}

.service-item:hover {
    margin-top: -10px;
    background: var(--primary);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}


.cd-1{

    width: 80%;
    align-self: center;
    margin: 0 auto;
    padding: 40px;
}

.cd-1 .rating{
    font-family: Heebo, sans-serif;
}

.cd-2{

    width: 80%;
    margin-top: 60px;
    text-align: center;
    padding: 20px;
    align-self: center;
    margin: 0 auto;
    align-items: center;
}

@media (max-width: 800px) {
    .c-list {
        flex-direction: column; 
        align-items: center; 
        margin-left: 0; 
    }

    .ch{
    flex-direction: column;
    text-align: left;
    }

    .cd-2{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .c-list{
        margin-right: 40px;  
    }
}

.ch{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    margin-left: 0;
}

.ch ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
.ch li {
    margin-bottom: 6px;
    display: flex; 
    align-items: center; 
}
  
.ch img {
    margin-right: 0px;
}

.cd-2.ul{
    padding:10px;
}

.c-list{
    display: flex;
    justify-content: space-around;
    margin-left: 15%;
}

.listext{
    padding-left: 20px;
}

.listrm{
    text-align: left;
    padding-left: 20px;
}

.list1,.list2 {
    flex: 1;
    padding-left: 50px;
    list-style: none;
    margin-right: 10px;
}

.list1 li, .list2 li {
    padding-left: 20px;
    background: url("https://cdn.vectorstock.com/i/preview-1x/02/15/black-tick-icon-check-mark-icon-vector-46940215.jpg") no-repeat left center;
    background-size: 16px 16px;
    padding-bottom: 5px;
    text-align: left;
    padding-left: 40px;
}

.cd-3{

    width: 80%;
    margin-top: 60px;
    padding: 20px;
    align-self: center;
    margin: 0 auto;

}

.paybox{
    display: flex;
    justify-content: space-around;
}
.pb-1{

    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    width: 30%;
    padding: 50px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 50px;
    transition: transform 0.1s;
}

.pb-1:hover{
    transform: scale(1.01);
}
.listing{
    margin-bottom: 50px;
    margin-top: 40px;
}
.list3-a,.list3-b{
    list-style: none;
    margin: 0; 
    padding: 0;
    margin-left: 10%;
}

.list3-a li  {
    padding-left: 20px;
    background: url("https://cdn.vectorstock.com/i/preview-1x/02/15/black-tick-icon-check-mark-icon-vector-46940215.jpg") no-repeat left center;
    background-size: 16px 16px;
    padding-bottom: 5px;
    text-align: left;
    padding-left: 40px; 
}
.list3-b li{
    padding-left: 20px;
    background: url("https://simpleicon.com/wp-content/uploads/cross-256x256.png") no-repeat left center;
    background-size: 16px 16px;
    padding-bottom: 5px;
    text-align: left;
    padding-left: 40px; 
}
.bn {
    display: inline-block;
    padding: 20px 40px; 
    background-color: #007bff; 
    color: #fff;
    text-decoration: none; 
    border: none; 
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer; 
    margin-bottom: 50px;
    transition: transform 0.1s;
}
.bn:hover{
    background-color: #0066ff;
    color: white;
    transform: scale(1.01);
}

.cd-4{
    /*border: solid 1px;*/
    width: 80%;
    margin-top: 60px;
    padding: 20px;
    align-self: center;
    margin: 0 auto;
}

.category img,.course-item img {
    transition: .5s;
}

.category a:hover img,
.course-item:hover img {
    transform: scale(1.1);
}


/*** Team ***/
.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.verifycredential {

    min-width: 70%;
    max-width: 600px; 
    min-height: 60vh; 
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

#verificationResult {
    margin-top: 20px;
    font-size: 20px;
    color: rgb(0, 95, 0);
    font-weight: bold;
}

#credentialId {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
}

#submitVerification {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

#submitVerification:hover {
    background-color: #45a049;
}

.faq-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .faq-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  
  .faq-toggle {
    border: none;
    background-color: transparent;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #ff7b2e;
    transition: transform 0.3s ease;
  }
  
  .faq-toggle.open {
    transform: rotate(45deg);
  }
  
  .faq-answer {
    padding: 0 20px;
    font-size: 14px;
    color: #555;
    line-height: 1.6;
    max-height: 0; 
    overflow: hidden; 
    transition: max-height 0.3s ease-in-out; 
  }
  

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    overflow: hidden;

    
  }
  
  .modal img {
    max-width: 90%;
    max-height: 90%;

    transition: transform 0.3s ease-in-out;
  }
  
  /* Incoming & Outgoing Animations */
  .slide-in-left {
    animation: slideInLeft 0.3s forwards;
  }
  
  .slide-out-right {
    animation: slideOutRight 0.3s forwards;
  }
  
  .slide-in-right {
    animation: slideInRight 0.3s forwards;
  }
  
  .slide-out-left {
    animation: slideOutLeft 0.3s forwards;
  }
  
  /* Keyframe animations */
  @keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes slideOutRight {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  @keyframes slideInRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes slideOutLeft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }




  

  /* Style for the popup background overlay */
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none; /* Initially hidden */
    justify-content: center;
    align-items: center;
    z-index: 9999;

    backdrop-filter: blur(2px); /* Apply blur to the background */
    -webkit-backdrop-filter: blur(2px); /* For Safari */
  }

  /* Style for the popup content box */
  .popup-content {
    position: relative;
    background: url('../img/bg_modal.jpg') no-repeat center center;
    background-size: cover; /* Ensures the image covers the entire area */
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 500px;
    width: 80%;
    animation: fadeIn 0.1s ease-in-out;

    display: flex;
    flex-direction: column;
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    text-align: center;
  }

  @media (min-width: 768px) {
    .popup-content {
      max-width: 600px; /* Set a max width on desktop */
      width: 50%; /* On desktop, the modal will take 80% of the screen width */
      height: 35%; /* On desktop, increase the height of the modal */
    }
  }

  /* Close button on top-right */
  .popup-close-top-right {
    position: absolute;
    top: -10px; 
    right: -10px; 
    background: white;
    color: red;
    border: none;
    font-size: 24px; 
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    transition: background 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; 
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  
  .popup-close-top-right:hover {
    background: #ff1744; 
    color: white; 
  }
  
  

  /* Fade-in animation */
  @keyframes fadeIn {
    from { opacity: 0; transform: scale(0.97); }
    to { opacity: 1; transform: scale(1); }
  }

  /* Attractive text styles */
  .popup-content h2 {
    color: rgb(43, 0, 145);
    font-size: 24px;
    margin-bottom: 15px;
  }

  .popup-content p {
    color: #333;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
  }

  .popup-highlight {
    color: #FF5722;
    font-weight: bold;
  }

  /* Know More button style */
  .popup-know-more {
    background: #e9762a;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease, box-shadow 0.3s ease; 
  }
  
  .popup-know-more:hover {
    background: #ff7037;
    color: white;
    transform: scale(1.05);
  }
  
  /*fade out for modal*/
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  /* Apply fade-out animation when closing the modal */
  .popup-overlay.fade-out {
    animation: fadeOut 0.5s ease-in-out forwards;
  }

  .content-ps strong {
    font-size: 1.5rem;
    
}

.ps-box:hover {
    transform: translateY(-4px);
    transition: 0.3s ease;
}
.ps-box {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}


.btn-outline-primary:hover,
.btn-outline-primary:focus {
    background-color: var(--primary);   /* ORANGE */
    border-color: var(--primary);       /* ORANGE */
    color: #ffffff;                     /* White text */
}
.btn-outline-primary {
    transition: all 0.3s ease;
}
